<IfModule mod_rewrite.c>
	 RewriteEngine On
		
	 RewriteBase /
	 RewriteCond $1 !^(index\.php|images|captcha|data|include|uploads|robots\.txt|product_img|thumb)

	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteCond %{REQUEST_FILENAME} !-d

	 RewriteRule ^(.*)$ /~sale9/index.php/$1 [L]
</IfModule>